In [14]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [15]:
from pyspark.sql.functions import col
from pyspark.sql.types import FloatType,IntegerType
df1 = spark.read.csv('dataset2015-2021/part-00000-51c3497a-fce7-41ff-97f1-763fcaab0030-c000.csv', header=True)
df2 = spark.read.csv('dataset2021-2023/part-00000-4c89b77e-4001-45ee-a7af-273053b8d675-c000.csv', header=True)
df1.show()
df2.show()

+-----------+--------+---------+-------------------+---------------------------+
|FECHA HECHO|CANTIDAD|   GENERO|       ARMAS MEDIOS|Number of domestic violence|
+-----------+--------+---------+-------------------+---------------------------+
| 2015-01-01|       1| FEMENINO|         NO REPORTA|                          4|
| 2015-01-01|      10|MASCULINO|       CONTUNDENTES|                          1|
| 2015-01-01|       1|MASCULINO|     CORTOPUNZANTES|                          1|
| 2015-01-01|       3| FEMENINO|       CONTUNDENTES|                          8|
| 2015-01-01|      10| FEMENINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       5| FEMENINO|       CONTUNDENTES|                          2|
| 2015-01-01|       2| FEMENINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       2|MASCULINO|       CONTUNDENTES|                          3|
| 2015-01-01|      16| FEMENINO|       CONTUNDENTES|                          1|
| 2015-01-01|       3| FEMENINO|SIN EMPLEO DE ARMAS|                          1|
| 2015-01-01|      14| FEMENINO|       CONTUNDENTES|                          1|
| 2015-01-01|       3|MASCULINO|       CONTUNDENTES|                          2|
| 2015-01-01|       1| FEMENINO|SIN EMPLEO DE ARMAS|                         24|
| 2015-01-01|       6| FEMENINO|       CONTUNDENTES|                          4|
| 2015-01-01|       2| FEMENINO|       CONTUNDENTES|                          7|
| 2015-01-01|       2|MASCULINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       1| FEMENINO|       CONTUNDENTES|                         65|
| 2015-01-01|       4| FEMENINO|       CONTUNDENTES|                          2|
| 2015-01-01|       1| FEMENINO|       ESCOPOLAMINA|                          1|
| 2015-01-01|       1| FEMENINO|     CORTOPUNZANTES|                          1|
+-----------+--------+---------+-------------------+---------------------------+
only showing top 20 rows

+-----------+--------+---------+--------------------+---------------------------+
|fecha_hecho|cantidad|   genero|        armas_medios|Number of domestic violence|
+-----------+--------+---------+--------------------+---------------------------+
| 2021-01-01|       5|MASCULINO| SIN EMPLEO DE ARMAS|                          2|
| 2021-01-01|       2|MASCULINO|ARMA BLANCA / COR...|                          2|
| 2021-01-01|       7|MASCULINO|        CONTUNDENTES|                          1|
| 2021-01-01|       2| FEMENINO| SIN EMPLEO DE ARMAS|                         17|
| 2021-01-01|       7| FEMENINO|        CONTUNDENTES|                          1|
| 2021-01-01|       1| FEMENINO|        CONTUNDENTES|                         65|
| 2021-01-01|       1| FEMENINO| SIN EMPLEO DE ARMAS|                         70|
| 2021-01-01|      12| FEMENINO| SIN EMPLEO DE ARMAS|                          1|
| 2021-01-01|       2|MASCULINO|        CONTUNDENTES|                          5|
| 2021-01-01|       3|MASCULINO| SIN EMPLEO DE ARMAS|                          3|
| 2021-01-01|      16| FEMENINO|        CONTUNDENTES|                          1|
| 2021-01-01|       1|MASCULINO|ARMA BLANCA / COR...|                          5|
| 2021-01-01|      10| FEMENINO| SIN EMPLEO DE ARMAS|                          1|
| 2021-01-01|       2|MASCULINO| SIN EMPLEO DE ARMAS|                          3|
| 2021-01-01|      11| FEMENINO| SIN EMPLEO DE ARMAS|                          1|
| 2021-01-01|       6| FEMENINO|        CONTUNDENTES|                          2|
| 2021-01-01|       9| FEMENINO| SIN EMPLEO DE ARMAS|                          1|
| 2021-01-01|       8| FEMENINO|        CONTUNDENTES|                          1|
| 2021-01-01|       5| FEMENINO|        CONTUNDENTES|                          1|
| 2021-01-01|       1| FEMENINO|ARMA BLANCA / COR...|                          7|
+-----------+--------+---------+--------------------+---------------------------+
only showing top 20 rows

In [16]:
df2 = df2.withColumnRenamed("fecha_hecho", "FECHA HECHO") \
         .withColumnRenamed("cantidad", "CANTIDAD") \
         .withColumnRenamed("genero", "GENERO") \
         .withColumnRenamed("armas_medios", "ARMAS MEDIOS") \
         .withColumnRenamed("Number of domestic violence", "Number of domestic violence")
result = df1.union(df2)
result.show()

+-----------+--------+---------+-------------------+---------------------------+
|FECHA HECHO|CANTIDAD|   GENERO|       ARMAS MEDIOS|Number of domestic violence|
+-----------+--------+---------+-------------------+---------------------------+
| 2015-01-01|       1| FEMENINO|         NO REPORTA|                          4|
| 2015-01-01|      10|MASCULINO|       CONTUNDENTES|                          1|
| 2015-01-01|       1|MASCULINO|     CORTOPUNZANTES|                          1|
| 2015-01-01|       3| FEMENINO|       CONTUNDENTES|                          8|
| 2015-01-01|      10| FEMENINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       5| FEMENINO|       CONTUNDENTES|                          2|
| 2015-01-01|       2| FEMENINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       2|MASCULINO|       CONTUNDENTES|                          3|
| 2015-01-01|      16| FEMENINO|       CONTUNDENTES|                          1|
| 2015-01-01|       3| FEMENINO|SIN EMPLEO DE ARMAS|                          1|
| 2015-01-01|      14| FEMENINO|       CONTUNDENTES|                          1|
| 2015-01-01|       3|MASCULINO|       CONTUNDENTES|                          2|
| 2015-01-01|       1| FEMENINO|SIN EMPLEO DE ARMAS|                         24|
| 2015-01-01|       6| FEMENINO|       CONTUNDENTES|                          4|
| 2015-01-01|       2| FEMENINO|       CONTUNDENTES|                          7|
| 2015-01-01|       2|MASCULINO|SIN EMPLEO DE ARMAS|                          2|
| 2015-01-01|       1| FEMENINO|       CONTUNDENTES|                         65|
| 2015-01-01|       4| FEMENINO|       CONTUNDENTES|                          2|
| 2015-01-01|       1| FEMENINO|       ESCOPOLAMINA|                          1|
| 2015-01-01|       1| FEMENINO|     CORTOPUNZANTES|                          1|
+-----------+--------+---------+-------------------+---------------------------+
only showing top 20 rows

In [17]:
result.describe().show()

+-------+-----------+------------------+---------+--------------------+---------------------------+
|summary|FECHA HECHO|          CANTIDAD|   GENERO|        ARMAS MEDIOS|Number of domestic violence|
+-------+-----------+------------------+---------+--------------------+---------------------------+
|  count|      69352|             69352|    69352|               69352|                      69352|
|   mean|       null|3.4878157803668244|     null|                null|          6.729135425077864|
| stddev|       null| 3.438737464318609|     null|                null|          12.92708390124352|
|    min| 2015-01-01|                 1| FEMENINO|ARMA BLANCA / COR...|                          1|
|    max| 2023-02-28|                 9|MASCULINO| SIN EMPLEO DE ARMAS|                         99|
+-------+-----------+------------------+---------+--------------------+---------------------------+

In [18]:
from pyspark.sql import functions as F
result = result.withColumn("GENERO", F.when(col("GENERO") == "FEMENINO", "F").otherwise("M"))
result.describe().show()

+-------+-----------+------------------+------+--------------------+---------------------------+
|summary|FECHA HECHO|          CANTIDAD|GENERO|        ARMAS MEDIOS|Number of domestic violence|
+-------+-----------+------------------+------+--------------------+---------------------------+
|  count|      69352|             69352| 69352|               69352|                      69352|
|   mean|       null|3.4878157803668244|  null|                null|          6.729135425077864|
| stddev|       null| 3.438737464318609|  null|                null|          12.92708390124352|
|    min| 2015-01-01|                 1|     F|ARMA BLANCA / COR...|                          1|
|    max| 2023-02-28|                 9|     M| SIN EMPLEO DE ARMAS|                         99|
+-------+-----------+------------------+------+--------------------+---------------------------+

In [24]:
result.coalesce(1).write.csv('dataset2015-2023', header=True)

In [25]:
df3 = spark.read.csv('dataset2015-2023/part-00000-cf3a31a0-f371-4654-b46c-cbd995786b39-c000.csv', header=True)
df3.describe().show()

+-------+-----------+------------------+------+--------------------+---------------------------+
|summary|FECHA HECHO|          CANTIDAD|GENERO|        ARMAS MEDIOS|Number of domestic violence|
+-------+-----------+------------------+------+--------------------+---------------------------+
|  count|      69352|             69352| 69352|               69352|                      69352|
|   mean|       null|3.4878157803668244|  null|                null|          6.729135425077864|
| stddev|       null|3.4387374643186135|  null|                null|         12.927083901243488|
|    min| 2015-01-01|                 1|     F|ARMA BLANCA / COR...|                          1|
|    max| 2023-02-28|                 9|     M| SIN EMPLEO DE ARMAS|                         99|
+-------+-----------+------------------+------+--------------------+---------------------------+